/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .peak-marquee-headline {
  position: relative;
 }
 .components-button[class$="-ui-button"] {
   background-color: #00F;
   color: #FFF;
   font-size: 10px;
   padding: 4px;
   height: 26px;
   box-shadow: none;
   border-color: #FFF;
  }
.components-button.add-ui-button {
  justify-content: center;
  height: 40px;
  margin: 15px;
  font-size: 16px;

  & .dashicon {
    margin-right: 0.5em;
  }
}
.components-button-group.ui-button-group {
  position: absolute;
  top: 0;
  margin: 2px;
}
.peak-marquee .ui-button-group {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.peak-marquee.is-selected {
  flex-direction: column;
  & .ui-button-group {
    opacity: 1;
  }
}